PORT=8000
MONGO_URL=mongodb://127.0.0.1:27017/broker-platform
ADMIN_JWT_SECRET=change-this-secret
ADMIN_SEED_USERNAME=admin
ADMIN_SEED_PASSWORD=change-this-admin-password
ADMIN_SEED_DISPLAY_NAME=Platform Admin
BROKER_JWT_SECRET=change-this-broker-secret
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret
